enabled: true
image:
  repository: rabbitmq
  tag: "3-management"
replicas: 1
service:
  type: ClusterIP
  amqpPort: 5672
  httpPort: 15672
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

